.main-options .augment-selects-wrapper {
    
    margin-left: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 39vw;
    height: 18vw;
    padding: 0;
    border: 0;
    font-size: 1.2em;

    .augment-select {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 12vw;
        height: 18vw;

        .current-augment {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 12vw;
            height: 18vw;
            background-color: rgba(0,43,70,1);

            text-shadow: 2px 2px black;
            border: 1px ridge rgb(244,187,72);

            &:hover {
                background-color: rgb(27, 64, 87);
                cursor: pointer;
            }

            .augment-image {
                width: 4vw;
                height: 4vw;
                padding: 1vw;
                padding-top: 2vw;
            }

            .augment-name {
                padding-top: 1vw;
                padding-bottom: 1vw;
                font-size: 1em;
            }

            .augment-desc {
                padding-bottom: 1vw;
                padding-left: 1vw;
                padding-right: 1vw;
                font-size: 0.7em;
                text-align: center;
            }
        }

        .augment-list {
            display: flex;
            flex-direction: column;
            align-items: left;
            position: absolute;
            top: 18vw;
            overflow-y: auto;
            z-index: 600;

            .augment-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                padding: 5px 5px;
                padding-top: 7px;
                border-bottom: 1px solid rgb(21, 17, 54);

                &:hover {
                    background-color: rgb(165, 78, 124);
                    cursor: pointer;
                }

                .augment-image {
                    width: 40px;
                    height: 40px;
                    padding-right: 10px
                }

                .augment-name {
                    font-size: 0.7em;
                }
            }

            .augment-content-selected {
                background-color: rgb(165, 78, 124);
            }

        }
        

        .augment-list.list-active {
            height: 50vh;
            background-color: rgb(44, 39, 79);
        }
    }

}