body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    background-color: rgb(21, 17, 54);
    color: rgb(239, 232, 216);

    .main-options {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 24vw;
    }

    .additional-options {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 10px;
    }

    .result-stats {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 24vw;
    }

    /* Scrollbar theme */
    /* width */
    ::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(119, 105, 137); 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(21, 17, 54); 
        border-radius: 20px;
        border: 2px solid rgb(119, 105, 137);
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(21, 17, 54); 
    }
}