body {

    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(21, 17, 54);
    color: rgb(239, 232, 216);

    .main-options {
        display: flex;
        width: 100%;
        
        @media only screen and (min-width: 768px) {
            flex-direction: row;
            height: 45vh;
            align-items: center;
        }

        @media only screen and (max-width: 768px) {
            flex-direction: column;
            height: auto;
            padding-bottom: 5vh;
        }

        .mobile-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;

            @media only screen and (min-width: 768px) {
            }
    
            @media only screen and (max-width: 768px) {
                margin-top: 5vh;
                margin-left: 5vw;
                width: 95vw;
            }
        }
    }

    .additional-options {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media only screen and (min-width: 768px) {
            width: 100%;
            height: 12vh;
        }

        @media only screen and (max-width: 768px) {
            margin-left: 5vw;
            width: 95vw;
            height: 20vh;
            flex-flow: row wrap;
        }
    }

    .result-stats {
        display: flex;
        flex-direction: row;
        width: 100%;

        @media only screen and (min-width: 768px) {
            height: 38.7vh;
        }
        
        @media only screen and (max-width: 768px) {
            flex-flow: row wrap;
            height: auto;
            padding-bottom: 20px;
        }
    }

    .section-separator {
        margin-left: 15vw;
        width: 70vw;
        height: 1px;
        background-color: rgb(244, 187, 72);
    }

    /* Scrollbar theme */
    /* width */
    ::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(119, 105, 137); 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(21, 17, 54); 
        border-radius: 20px;
        border: 2px solid rgb(119, 105, 137);
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(21, 17, 54); 
    }

    /* for firefox nerds */
    scrollbar-color: rgb(21, 17, 54) rgb(119, 105, 137);


    /* Custom input fields */
    .search-input {
        border: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: rgb(94 77 114);
        padding: 12px;
        width: 100%;
        color: rgb(239, 232, 216);
        border-bottom: 1px solid rgb(239, 232, 216);

        &::placeholder { 
            color: rgb(239, 232, 216);
            opacity: 1; /* Firefox */
        }
    }
}