.main-options .item-selects-wrapper {

    margin-left: 4vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: relative;
    padding: 0;
    border: 0;

    .item-image {
        width: 2.5vw;
        height: 2.5vw;
        padding-right: 10px;
    }

    .item-label {
        width: 10vw;
    }

    .item-select {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 14vw;
        background-color: rgb(44, 39, 79);
        border: 2px ridge rgb(102, 82, 128);

        &:hover {
            cursor: pointer;
            background-color: rgb(165, 78, 124);
        }

        .current-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            height: 2.5vw;

            .item-image-wrapper {
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 3.7vw;
                height: 3.7vw;
                background-color: rgb(44, 39, 79);
                border-radius: 50%;
                border: 2px groove rgb(244, 187, 72);
                overflow: hidden;

                .item-image {
                    width: 3.7vw;
                    height: 3.7vw;
                    padding: 0;
                }
            }
        }

        .item-list {
            display: flex;
            flex-direction: column;
            align-items: left;
            position: absolute;
            top: 3.5vw;
            left: -2px; /* because of border*/
            overflow-y: auto;
            z-index: 600;

            .item-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                max-width: 14vw;
                height: 2.5vw;
                min-height: 2.5vw;
                padding: 5px 5px;
                padding-top: 7px;
                border-bottom: 1px solid rgb(21, 17, 54);

                &:hover {
                    background-color: rgb(165, 78, 124);
                }

                .item-image { 
                    padding-right: 10px
                }
            }

            .item-content-selected {
                background-color: rgb(165, 78, 124);
            }
        }

        .item-tooltip-fixed {
            position: fixed;
            width: 10vw;
            padding: 1vw;
            border: 2px groove rgb(244, 187, 72);
            background-color: rgb(44, 39, 79);          
            z-index: 800; 
        }

        .item-tooltip-fixed.item-1 {
            top: 4.2vw;
            left: 33vw;  
        }
        .item-tooltip-fixed.item-2 {
            top: 10.1vw;
            left: 33vw;  
        }
        .item-tooltip-fixed.item-3 {
            top: 16vw;
            left: 33vw;  
        }

        .item-list.list-active {
            width: auto;
            height: 50vh;
            background-color: rgb(44, 39, 79);
        }
    }

    .current-item-stats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left:1vw;
        width: 12vw;
        font-size: 0.8em;
        opacity: 0.9;
        
        .health {
            color: rgb(32 153 93);
        }
        .armor { 
            color: rgb(241 111 89);
        }
        .resistance {
            color: rgb(207 141 209);
        }
        .mana {
            color: rgb(38 194 244);
        }
        .ap { 
            color: rgb(155 255 247);
        }
        .attack { 
            color: rgb(189 126 76);
        }
        .speed {
            color: rgb(244 196 82);
        }
        .crit { 
            color: rgb(206 59 68);
        }
    }
}
