.main-options .item-selects-wrapper {

    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0;
    border: 0;
    height: 14.5vw;

    .item-image {
        height: 2.5vw;
        width: 2.5vw;
        padding-right: 10px;
    }

    .item-label {
        width: 10vw;
    }

    .item-select {
        display: flex;
        position: relative;
        flex-direction: column;
        background-color: rgb(55, 44, 107);
        /* padding: 5px 5px; */
        width: 14vw;
        border: 2px ridge rgb(102, 82, 128);

        &:hover {
            cursor: pointer;
            background-color: rgb(45, 36, 87);
        }

        .current-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            height: 2.5vw;

            .item-image-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 2px groove rgb(244, 187, 72);
                background-color: rgb(55, 44, 107);
                height: 3.7vw;
                min-width: 3.7vw;
                overflow: hidden;
                margin-right: 10px;

                .item-image {
                    height: 3.7vw;
                    width: 3.7vw;
                    padding: 0;
                }
            }
        }

        .item-list {
            display: flex;
            flex-direction: column;
            align-items: left;
            position: absolute;
            top: 3.5vw;
            left: -2px; /* because of rectangle border*/
            overflow-y: auto;
            z-index: 600;

            .item-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                padding: 5px 5px;
                padding-top: 7px;
                border-bottom: 1px solid rgb(21, 17, 54);
                &:hover {
                    background-color: rgb(45, 36, 87);
                }

                .item-image { 
                    padding-right: 10px
                }
            }

            .item-content-selected {
                background-color: red;
            }
        }

        .item-list.list-active {
            width: auto;
            height: 50vh;
            background-color: rgb(55, 44, 107);
        }
    }

}
