.main-options .level-select {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    line-height: 20px;
    color: rgb(180, 180, 180);
    cursor: pointer;

    @media only screen and (min-width: 768px) {
        margin-left: 1vw;
        width: 1vw;
        height: 6vw;
    }

    @media only screen and (max-width: 768px) {
        margin-left: 1vw;
        width: 8vw;
        height: 24.8vw;
        font-size: 1em;
        line-height: 1.2em;
    }

    .level-star {

        @media only screen and (min-width: 768px) {
            padding: 10px;
        }
    
        @media only screen and (max-width: 768px) {
            padding: 5px;
        }

        &:hover {
            font-size: 1.5em;
        }
    }

    .gold-star {
        font-size: 1.5em;
        color: rgb(244, 187, 72);
        text-shadow: 1px 1px 4px rgba(244, 187, 72, 0.6);

        &:hover {
            font-size: 1.3em;
        }
    }
}