.additional-options {

    .additional-option {

        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        @media only screen and (min-width: 768px) {
            height: 6vw;
            padding-right: 2vw;
            padding-left: 2vw;
        }
    
        @media only screen and (max-width: 768px) {
            height: 10vh;
            padding-right: 5vw;
            padding-left: 5vw;
        }

        &:after {
            content: "";
            position: absolute;
            right: 0;
            width: 1px;
            height: 66%;
            background: rgba(244, 187, 72, 0.7);
        }

        &:first-of-type {
            @media only screen and (min-width: 768px) {
                margin-left: 4vw;
            }
        
            @media only screen and (max-width: 768px) {
            }
        }

        .label-option {
            padding-bottom: 10px;
            @media only screen and (min-width: 768px) {
            }
        
            @media only screen and (max-width: 768px) {
                font-size: 0.8em;
            }
        }

        .select-option {
            padding-top: 2px;
            padding-bottom: 2px;

            @media only screen and (min-width: 768px) {
                font-size: 1em;
            }
        
            @media only screen and (max-width: 768px) {
                font-size: 0.8em;
            }
        }
    }

    .enemy-options {
        display: flex;
        flex-direction: row;

        .enemy-option {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            @media only screen and (min-width: 768px) {
                height: 6vw;
            }
        
            @media only screen and (max-width: 768px) {
                height: 10vh;
            }
            
            &:first-of-type {                
                @media only screen and (min-width: 768px) {
                    padding-right: 0vw;
                    padding-left: 2vw;
                }
            
                @media only screen and (max-width: 768px) {
                    padding-right: 0vw;
                    padding-left: 5vw;
                }
            }
            &:last-of-type {
                @media only screen and (min-width: 768px) {
                    padding-left: 1vw;
                    padding-right: 2vw;
                }
            
                @media only screen and (max-width: 768px) {
                    padding-left: 2vw;
                    padding-right: 5vw;
                }
            }
            
            &:last-of-type:after {
                content: "";
                position: absolute;
                right: 0;
                width: 1px;
                height: 66%;
                background: rgba(244, 187, 72, 0.7);
            }

            .label-option {
                padding-bottom: 10px;
                @media only screen and (min-width: 768px) {
                }
            
                @media only screen and (max-width: 768px) {
                    font-size: 0.8em;
                }
            }
    
            .select-option {
                padding-top: 2px;
                padding-bottom: 2px;
                @media only screen and (min-width: 768px) {
                    font-size: 1em;
                }
            
                @media only screen and (max-width: 768px) {
                    font-size: 0.8em;
                }
            }
        }

        
    }
}