.additional-options {

    .additional-option {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 6vw;
        padding-right: 2vw;
        padding-left: 2vw;

        &:after {
            content: "";
            position: absolute;
            right: 0;
            width: 1px;
            height: 66%;
            background: rgba(244, 187, 72, 0.7);
        }

        &:first-of-type {
            margin-left: 4vw;
        }

        .label-option {
            padding-bottom: 10px;
        }

        .select-option {
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: 1em;
        }
    }

    .enemy-options {
        display: flex;
        flex-direction: row;

        .enemy-option {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            height: 6vw;
            
            &:first-of-type {
                padding-right: 0vw;
                padding-left: 2vw;
            }
            &:last-of-type {
                padding-left: 1vw;
                padding-right: 2vw;
            }
            
            &:last-of-type:after {
                content: "";
                position: absolute;
                right: 0;
                width: 1px;
                height: 66%;
                background: rgba(244, 187, 72, 0.7);
            }

            .label-option {
                padding-bottom: 10px;
            }
    
            .select-option {
                padding-top: 2px;
                padding-bottom: 2px;
                font-size: 1em;
            }
        }

        
    }
}