.main-options .trait-selects-wrapper {
    
    margin-left: 7vw;
    display: grid;
    position: relative;
    background-color: aqua;
    padding: 0;
    border: 0;
    height: 70%;
    width: 15vw;
    font-size: 1.2em;

}